.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
  
.task-text {
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}
  
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.button {
  margin-left: 10px;
  padding: 6px 8px 3px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}
  
.delete-button {
  background-color: #dc3545;
}
  
.delete-button:hover {
  background-color: #c82333;
}

.edit-button {
  background-color: #358bdc;
}
  
.edit-button:hover {
  background-color: #2368c8;
}

.save-button {
  background-color: #00ab66;
}
  
.save-button:hover {
  background-color: #028b54;
}

.cancel-button {
  background-color: #c10719;
}
  
.cancel-button:hover {
  background-color: #7f020f;
}
  